.banner {
    background-image: url('../Flower\ Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    color: #FFF;
    font-family: Lato;
    font-size: 30px;
    font-style: normal;
    font-weight: 800;
    align-items: center;
    padding-left: 240px;
    padding-top: 15px;
    padding-bottom: 315px;
}

.header {
    align-items: center;
}

.banner-description {
    color: #FFF;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
    margin-top: 0;

}

.banner-title {
    margin-bottom: 5px;
}

.btn-primary {
    display: inline-flex;
    padding: 20px 43px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 8px;
    background: #E55473;
    margin-top: 0px;
}

.todays-title {
    color: #272727;
    text-align: center;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.todays-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;

}

.main-class {
    background: #FFF;
    margin-right: 120px;
}

.first-items {
    align-items: center;
    margin-left: 210px;
    display: flex;
    justify-content: space-between;
}

.second-items {
    align-items: center;
    margin-left: 280px;
    display: flex;
    justify-content: space-between;
}

.flower-name {
    color: #272727;
    font-family: Lato;
    font-size: 24px;
    font-style: normal;
    font-weight: 700;
    line-height: 35px;
    margin-bottom: 5px;
}

.price {
    color: #E55473;
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 35px;
    margin-top: 2px;
}

.btn-secondary {
    background-color: white;
    color: #E55473;
    font-family: Lato;
    font-size: 20px;
    font-weight: 700;
    padding: 20px 43px;
    gap: 10px;
    border-radius: 8px;
    justify-content: center;

}

.container {
    align-items: center;
    justify-content: center;
    text-align: center;

}

.greeting {
    color: #E55473;
    font-family: Ephesis;
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    align-items: center;
}

.hot {
    text-align: center;
    width: 1440px;
    height: 700px;
    flex-shrink: 0;
    border-radius: 8px;
    background: rgba(229, 84, 115, 0.05);
    margin-left: 100px;
}

.shironam {
    color: #272727;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.off {
    color: #E55473;
    font-family: Lato;
    font-size: 40px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}

.deals-description {
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-family: Lato;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 30px;
}

.time {
    display: flex;
    text-align: center;
    margin-left: 450px;
    margin-bottom: 100px;
    margin-top: 0px;
    padding-left: 100px;
}

.days {
    width: 90px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    border: 1px solid;
}

.hour {
    width: 90px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #E55473;
    background: rgba(229, 84, 115, 0.05);
}

.minute {
    width: 90px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    border: 1px solid;
}

.secs {
    width: 90px;
    height: 100px;
    flex-shrink: 0;
    border-radius: 4px;
    background: #FFF;
    border: 1px solid;
}

.htp {
    margin-right: -50px;
    margin-left: 880px;
    margin-top: -380px;
    margin-bottom: 8%;
}

.footer {
    width: 1922px;
    height: 592px;
    flex-shrink: 0;
    background: #111010;
    text-align: center;

}

.flower {
    color: #E55473;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;

}

.shop {
    color: #FFF;
    font-family: Lato;
    font-size: 48px;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
}